article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* stripping styles */
body,
a,
p,
h1,
h2,
h3,
h4,
ul,
li{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    }
.wrapper{
    width: 80%; 
    max-width: 1300px;
    margin: 0 auto;
    }
li{
    list-style: none;
    }
a{
    text-decoration: none;
    }
/* base styling */
img{
    width: 100%;
    display: block;
    }
html{
    font-size: 62.5%;
    }

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px 0;
    text-align: center;
}

h1{
    font-family: 'Bungee Shade', cursive;
    font-size: 4rem;
    color: #ff1654;
}

h2{
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    color: #A3A3A3;
    font-weight: 300;
}

form{
    font-family: 'Raleway', sans-serif ;
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}
label, input, button{
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 30px;
}

input{
    border-radius: 10px;
    border: .75px solid #A3A3A3;
}

button{
    border-radius: 20px;
    background: transparent;
    border: .75px solid #A3A3A3;
    transition: all;
}

button:hover{
    background-color: #ff1654;
    color: white;
    border: #ff1654;
    transition: .5s ease;
}

.inputFlex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.matches{
    position: absolute;
    top: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #FFFFEA;
    box-shadow: -2px -3px 25px 0px rgba(192, 189, 189, 0.75)
}

.matches li{
    padding: 10px 30px;
    border: .75px solid #A3A3A3;
}

.highlight{
    background-color: #00CECB;
}

.results{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    background-color: #EBEBEB;
    border-radius: 10px;
    border: .75px solid rgb(163, 163, 163);
    box-shadow: -2px -3px 25px 0px rgba(192, 189, 189, 0.75);
}

.resultsTextBox,
.resultsFlex{
    padding: 20px;
    width: 200px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resultsTextBox{
    border-radius: 10px;
    margin: 20px;
}

.D{
    transition: background .5s;
    background-color: #e76f51;
}
.C{
    transition: background .5s;
    background-color: #f4a261;
}
.B{
    transition: background .5s;
    background-color: #e9c46a;
}
.A{
    transition: background .5s;
    background-color: #2a9d8f;
}

h3{
    font-size: 3rem;
    text-align: center;
}

.overall{
    font-size: 2.5rem;
    text-align: center;
}

.grades{
    border: 1px solid #A3A3A3;
}

.resultsFlex li{
    padding: 10px;
    font-size: 1.5rem;
}